<!--header-->
<div class="row">
  <nav class="col-xs-12 navbar" role="navigation">
       <div class="col-xs-12 col-sm-4 active text-center">
	 <a title="Return to site main page" href="#/home">
	   <span class="glyphicon glyphicon-home">&nbsp;</span>Home
	 </a>
       </div>
       <div class="col-xs-12 col-sm-4 text-center">
	 <a title="View current menu" href="#/menu">
	   <span class="glyphicon glyphicon-th-list">&nbsp;</span>Menu
	 </a>
       </div>
       <div class="col-xs-12 col-sm-4 text-center">
	 <a title="All about us" href="#/about">
	   <span class="glyphicon glyphicon-road">&nbsp;</span>About Us
	 </a>
       </div>
  </nav>
</div>
<!--/header-->
