<div id="data">
  <dl>
    <dt>California Roll</dt>
    <dd>
      <ul>
        <li>six pack $5</li>
        <li>eight pack $7</li>
        <li>ten pack $10</li>
      </ul>
    </dd>
    <br>
    <dt>Spicy Salmon Roll</dt>
    <dd>
      <ul>
        <li>six pack $7</li>
        <li>eight pack $10</li>
        <li>twelve pack $12</li>
      </ul>
    </dd>
    <br>
    <dt>Calamari Roll</dt>
    <dd>
      <ul>
        <li>four pack $7</li>
        <li>six pack $11</li>
        <li>eight pack $15</li>
      </ul>
    </dd>
    <br>
    <dt>Spices - 50c each</dt>
    <dd>
      <ul>
        <li>soy sauce</li>
        <li>ginger</li>
        <li>wasabi</li>
        <li>hot sauce</li>
        <li>spicy mayo</li>
      </ul>
    </dd>
  </dl>
</div>
