<div class="container" id="data">
  <h1 id="orderhead">Order Now</h1>
  <fieldset>
    <legend>Place Your Order</legend>
    <form class="orderform">
      <input type="text" name="firstname" class="rightinput" placeholder="Your First Name" required>
      <br>
      <input type="text" name="lastname" class="rightinput" placeholder="Last Name" required>
      <br>
      <input type="text" name="phone" class="rightinput" placeholder="Phone number" required>
      <br>
      <input type="text" name="credit" class="rightinput" placeholder="Credit Card" required>
      <br>
      <input type="text" name="expirym" 
             size="2" maxlength="2" placeholder="MM" pattern="[0-9][0-9]" required>/
      <input type="text" name="expiryy" 
             size="2" maxlength="2" placeholder="YY" pattern="[0-9][0-9]" required>
      <br>
      <br>
      <input type="submit">
    </form>
  <fieldset>
</div>

