<h1 id="palace">Sushi Palace</h1>
<nav class="navbar" role="navigation">
    <div>
    	<ul class="nav">
                <li class="active"><a title="Return to site main page" href="#/home">Home</a></li>
                <li><a title="View current menu" href="#/menu">Menu</a></li>
                <li><a title="View today's specials" href="#/specials">Specials</a></li>
                <li><a title="Employment opportunities" href="#/opportunity">Opportunity</a></li>
                <li><a title="All about us" href="#/about">About Us</a></li>
    	</ul>
    </div>
</nav>
