/*
 * theme.css - Pavel A. Bolokhov
 */

body {
  border-width: 0;
  margin: 0;
  padding: 0;
}


#header {
  margin: 0;
  padding: 0;
  width: 100%;
}

#header h1 {
  text-align: center; color: yellow; font-size: 3em;
  margin: 0;
  font-family: "Times New Roman", serif, inherit;
  font-weight: bold;
}


.ad {
  font-size: 21pt;
  height: 30em;
  margin: 0;
  font-family "Arial", sans-serif, inherit;
  background-image: url(../images/ad.jpg);
}


.ad p {
  padding: 1em;
  color: Gold;
  vertical-align: middle;
}


#palace { 
  background: linear-gradient(to right, pink, salmon, orchid);
  background: -webkit-linear-gradient(left, pink, salmon, orchid); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, pink, salmon, orchid);     /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, pink, salmon, orchid);   /* For Firefox 3.6 to 15 */
  filter: progid:DXImageTransform.Microsoft.gradient( 
	startColorstr='pink', endColorstr='salmon',GradientType=0 );
  padding: 0.5em;
}

#hours {
  font-weight: 600;
}

.navbar {
  padding: 0;
  margin: 0;
  border-width: 0;
  border-radius: 0;
  background: linear-gradient(to right, pink, salmon);
}


.ng-scope {
  margin: 0;
  padding: 0;
  border-width: 0;
}

/* This is basically the container */
#data { 
  border-width: 0;
  margin: 0;
  padding: 3em;
  font-size: 2em;        /* only needed to set the height of this box */
  height: 30em;
  overflow: hidden;
  background: linear-gradient(to right, salmon, orchid);
}

#data p, #data ul {
  font-size: 50%;
}


#map { 
  vertical-align: text-top;
}

a { 
  line-height: 2em;
}

.navbar div {
  text-align: center;
  padding: 1em;
}


.navbar a:visited {
  color: blue;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:hover { 
  text-decoration: underline;
}

#orderhead {
  text-align: center;
  padding: 0 0 1em 0;
}

#expirym {
  padding: 0 0 0 2em;
}

.orderform {
  font-size: 12pt;
  font-weight: normal;
  width: 100%;
  margin: 0;
  padding: 0;
}

.rightinput {
/*  margin: 1em;  */
}

.monthinput {
  margin: 1em 0.5em 1em 1em;
}

.yearinput {
  margin: 1em 1em 1em 0.5em;
}

label {
  font-weight: normal;
  margin: 0 2em 0 0;
}

