<div class="container-fluid">

  <!-- Blank row -->
  <div class="row">
    <div class="col-xs-12">
      <br>
      <br>
    </div>
  </div>

  <!-- Menu -->
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading text-center">California Roll</div>
          <ul class="list-group">
            <li class="list-group-item text-center">six pack $5</li>
            <li class="list-group-item text-center">eight pack $7</li>
            <li class="list-group-item text-center">ten pack $10</li>
          </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Spicy Salmon Roll</div>
          <ul class="list-group">
            <li class="list-group-item text-center">six pack $7</li>
            <li class="list-group-item text-center">eight pack $10</li>
            <li class="list-group-item text-center">ten pack $12</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Calamari Roll</div>
          <ul class="list-group">
            <li class="list-group-item text-center">six pack $9</li>
            <li class="list-group-item text-center">eight pack $12</li>
            <li class="list-group-item text-center">ten pack $14</li>
          </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Spices - 50c each</div>
          <ul class="list-group">
            <li class="list-group-item text-center">soy sauce</li>
            <li class="list-group-item text-center">ginger</li>
            <li class="list-group-item text-center">wasabi</li>
            <li class="list-group-item text-center">hot sauce</li>
            <li class="list-group-item text-center">spicy mayo</li>
          </ul>
      </div>
    </div>
  </div>
</div>
