<br>
<br>
<div class="jumbotron">
  <div class="container">
    <h1>About Us</h1>
    <p>
      Sisters Francesca and Greta have one goal in life: to make best sushi to the west of the Great Prairies!
      <br>
      Enjoy any of our rolls today.
    </p>
  </div>
</div>

<div ng-app="mapsApp" ng-controller="mapsController" class="container-fluid">

  <!-- Hours of work -->
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-push-6">
      <div class="panel panel-default">
	<div class="panel-heading text-center">Hours</div>
	<ul class="list-group">
	  <li class="list-group-item">Monday to Saturday 12pm-8pm</li>
	  <li class="list-group-item">Sunday 1pm-7pm</li>
	</ul>
      </div>
    </div>

    <!-- Google Maps -->
    <div class="col-xs-12 col-md-6 col-md-pull-4">
      <div class="panel panel-default">
	<div class="panel-heading text-center">Location</div>
	<div id="maps-panel" class="panel-body">
	  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
	    <ui-gmap-markers>
	    </ui-gmap-markers>
	  </ui-gmap-google-map>
	</div>
      </div>
    </div>
  </div>
</div>
