<div class="container-fluid">
  <div class="row">
    <carousel interval="carInterval" class="col-xs-12" style="padding: 0;">
      <slide ng-repeat="slide in slides">
        <img ng-src="images/sushi{{slide}}.jpg" style="margin: 0;">
        <div class="carousel-caption">
          <h4>Amazing Dish <strong>{{slide}}</strong></h4>
          <p>{{ enjoy[slide-1] }}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="jumbotron row">
    <div class="col-xs-12">
      <h1 >Welcome!</h1>
      <p>Discover your most favourite sushi destination!</p>
      <button class="btn btn-primary btn-lg" 
    	  popover-placement="right" popover="Ha-ha! Not implemented yet">
	Sign-up for our weekly flyer
      </button>
    </div>
  </div>
</div>
