<dl>
  <dt>California Roll</dt>
  <dd>
    <ul>
      <li>six pack $5</li>
      <li>eight pack $7</li>
      <li>ten pack $10</li>
    </ul>
  </dd>
  <br>
  <dt>Spicy Salmon Roll</dt>
  <dd>
    <ul>
      <li>six pack $7</li>
      <li>eight pack $10</li>
      <li>ten pack $12</li>
    </ul>
  </dd>
  <br>
  <dt>Calamari Roll</dt>
  <dd>
    <ul>
      <li>six pack $9</li>
      <li>eight pack $12</li>
      <li>ten pack $14</li>
    </ul>
  </dd>
  <br>
  <dt>Spices - 50c each</dt>
  <dd>
    <ul>
      <li>soy sauce</li>
      <li>ginger</li>
      <li>wasabi</li>
      <li>hot sauce</li>
      <li>spicy mayo</li>
    </ul>
  </dd>
</dl>
