<!--header-->
<div class="col-xs-12">
<div class="row">
    <div class="col-xs-12" id="header">
         <h1 id="palace">Sushi Palace</h1>
    </div>
</div>
<!--nav class="row navbar" role="navigation"-->
<div class="row navbar">
         <div class="col-xs-12 col-sm-6 col-md-2 active"><a title="Return to site main page" href="#/home">Home</a></div>
         <div class="col-xs-12 col-sm-6 col-md-2"><a title="View current menu" href="#/menu">Menu</a></div>
         <div class="col-xs-12 col-sm-6 col-md-2"><a title="View today's specials" href="#/specials">Specials</a></div>
         <div class="col-xs-12 col-sm-6 col-md-2"><a title="Make an order" href="#/order">Order</a></div>
         <div class="col-xs-12 col-sm-6 col-md-2"><a title="Employment opportunities" href="#/opportunity">Opportunity</a></div>
         <div class="col-xs-12 col-sm-6 col-md-2"><a title="All about us" href="#/about">About Us</a></div>
</div>
</div>
<!--/header-->
