/*
 * theme.css - Pavel A. Bolokhov
 */


body {
  background: linear-gradient(to right, salmon, orchid);
}

#header{
  margin: 0;
  background: linear-gradient(to right, pink, salmon, orchid);
  background: -webkit-linear-gradient(left, pink, salmon, orchid); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, pink, salmon, orchid);     /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, pink, salmon, orchid);   /* For Firefox 3.6 to 15 */
  filter: progid:DXImageTransform.Microsoft.gradient( 
	startColorstr='pink', endColorstr='salmon',GradientType=0 );
}

#header h1 {
  color: yellow;
}

#hours {
  font-weight: 600;
}

.navbar {
  border-width: 0;
  border-radius: 0;
  background: linear-gradient(to right, pink, salmon);
  margin-bottom: 0;    /* override Bootstrap */
}


#map { 
  vertical-align: text-top;
}


#data {
  padding: 2em;
}


#data dt {
  font-size: 2em;
}


#main-view {
  margin: 0;
  padding: 0;
}


.navbar a {
  font-size: 1.4em; 
  line-height: 2em;
}


.navbar div {
  padding: 1em 0 1em 0;
}


.navbar a:visited {
  color: blue;
}
